textarea{
	max-width: 100%;	
}
.addnew{
  padding: 10px;
  background: #f2f2f2;
  color: red;
}
.addnew:hover{
	color: #fff;
	background: #000;
	text-decoration: none;
}
.text-danger{
	position: relative;
	top: 5px;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link{
	background: #c2acc9 !important;
}
.sidebar .nav .nav-item.active > .nav-link{
	background: #c2acc9 !important;
}
.form-group label{
	font-weight: bold;
}
.body-cat{
	padding-top: 15px;
}
ul.cat-con{
	list-style: none;
}
ul.cat-con li{
	padding: 20px 0;
	border-top: 1px dashed #ccc;
}
ul.cat-con li a{
	color: #666;
}
ul.cat-con li a:hover{
	text-decoration: none;
	color: red;
}
ul.cat-con li{
	position: relative;
	line-height: 0
}
.cat-child{
	position: absolute;
	left: 0;
}
.st-con{
	position: absolute;
	right: 0;
}
.st-con a{
	padding: 5px;
	border-radius: 4px;
	margin-left: 10px;
}
.viewcat{
	color: #00c689;
	font-weight: bold;
}
ul.cat-con-con li{
	list-style: none;
}
.mgleft-left{
	margin-left: 60px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	font-size: 13px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
	font-size: 13px;
}
.an_sp{
	background: #00CC00;
	color: #fff;
	padding: 5px 20px;
	border-radius: 5px;
}
.an_sp:hover{
	text-decoration: none;
	background: #CC0000;
	color: #fff;
}
.hien_sp{
	background: #CC0000;
	color: #fff;
	padding: 5px 20px;
	border-radius: 5px;
}
.hien_sp:hover{
	background: #00CC00;
	color: #fff;
	text-decoration: none;
}
.select2-container .select2-selection--single{
	height: 55px !important; 
}
.list_dinh_kem{
	display: inline-block;
}
.img_att_list{
	width: 20%;
	padding: 2px;
	border: 1px solid #ccc;
    margin: 10px 5px;
    position: relative;
    float: left;
    height: 80px;
}
.img_att_list span{
	cursor: pointer;
	position: absolute;
	right: -5px;
    top: -10px;
}
.img_att_list .img_at{
	width: 100%;
	height: 100%;
}
.btn_multi_upload{
	padding: 10px;
    border: 1px solid #ccc;
    margin: 30px 10px;
}