body{

}
.bao-noibat{
	border: 2px solid #F58634;
}
.title-nb{
	background: #F58634;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: bold;
}
.list-sp-hot{
	padding: 30px 0;
}
.prdLblCampaign {
    margin-bottom: 5px;
}
.prdLblCampaignThumb.prdLblCampaignNew {
    margin-right: 5px;
}
.prdLblCampaignThumb.prdLblCampaignNew span {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #fff;
    border-radius: 50px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 16px;
    width: max-content;
    padding: 0 8px 0 0;
}
.prdLblCampaignThumb.prdLblCampaignNew span img {
    margin: 0 5px 0 0 !important;
}
.prdLblCampaign img {
    width: auto !important;
    height: 20px !important;
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 100%;
    object-fit: contain;
}
.prdLblCampaignThumb.prdLblCampaignNew span small {
    font-size: 11px;
    line-height: 16px;
    margin-top: 2.3px;
}
.item-sp-hot{
	padding-bottom: 30px;
}
.img-sp-hot{
	display: block;
	padding-bottom: 10px;
}
.img-sp-hot img{
	max-width: 100%;
}
.list-sp-hot h4{
	font-size: 14px;
	margin: 0;
	padding: 5px 0;
}
.list-sp-hot h4 a{
	color: #000;
}
.item-sp-hot p span{
	font-weight: bold;
	color: #d12c1f;
	font-size: 16px;
}
.home-menu {
    overflow: hidden;
    padding: 10px 0 0 0;
    font-size: 12px;
    margin-bottom: 10px;
    background: #ffffff;
}
.home-menu-head{
    background: url(images/dien-lanh.png) no-repeat 20px 9px;
    float: left;
    position: relative;
    margin-right: 20px;
    background-color: #ed1b24;
}
.home-menu-head:hover{
	background-color: #52b7f8;
}
.home-menu-head:hover a{
	color: #ffffff;
}
.home-menu-head a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    display: block;
    padding: 13px 2px 12px 10px;
    width: 280px;
}
.home-menu .home-menu-item {
    overflow: hidden;
    height: 46px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.home-menu-item li {
    display: inline-block;
    margin-right: 15px;
}
.home-menu-item li a {
    color: #3a3a3c;
    line-height: 39px;
    display: block;
    padding-top: 7px;
}
.home-menu-item li a:hover {
    color: red;
    text-decoration: underline;
}
p{
	margin: 0 !important;
}
.nhom-sp-product{
	border: 1px solid #ccc;
}
.item-sp-cat{
	width: 100%;
	height: 300px;
}
.img-sp-cat{
	text-align: center;
	padding: 10px 0;
	display: block;
}

.row-cc{
	display: table;
}
.borderlr_0, .borderlr_1, .borderlr_2{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.borderlr_4, .borderlr_5, .borderlr_6{
	border-right: 1px solid #ccc;
}
.borderlr_3{
	border-bottom: 1px solid #ccc;
}
.product-nb{
	margin-top: 30px;
}
.nhom-sp-home{
	margin-top: 30px;
}
.item-sp-cat h4{
	font-size: 14px;
	line-height: 20px;
}
.item-sp-cat h4 a{
	color: #000;
}
.item-sp-cat h4 a:hover{
	text-decoration: underline;
}
.item-sp-cat p span{
	font-size: 16px;
	font-weight: bold;
	color: #d12c1f;
}
.list-manufac ul li{
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 5px;
}