@media(min-width: 768px){
	.desc-ty{
	width: 60%;
	}
	.img-p-hot{
		width: 30%;
	}
	.desc-p-hot{
		width: 70%;
		padding-left: 10px;
	}
}

.list-hot{
	display: flex;
	padding-bottom: 20px;
	padding-top: 20px;
}
.img-p-hot img{
	width: 100%;
}
.desc-p-hot h5{
	margin: 0;
	text-align: left;
	font-family: 'Cormorant Garamond', serif;
	font-size: 24px;
	color: #333;
}
.property-location h3{
	text-align: left;
}
.iframe_map iframe{
	width: 100%;
}
.contact-form-f{
	padding-bottom: 50px;
}
.btn-contact{
	background: #B89D64;
	text-transform: uppercase;
	padding: 10px 40px;
	border: 0;
}
.btn-contact:hover{
	background: #2b1b13;
	color: #fff;
}
.call-info{
	background: #F5F2EB;
	padding: 20px 20px;
}
.call-info h3{
	text-align: left;
}
.call-info h3:before{
	content: '';
    margin-left: 0;
    width: 70px;
    height: 2px;
    background: #EDBA29;
    position: absolute;
    left: 0;
    bottom: -16px;
}
.alert-err p{
	color: red; 
	font-size: 13px;
}
.bgcd{
	padding-top: 64px;
}
.alert-content{
	padding: 10px 0;
	color: red;
}
#successID{
	color: green;
	padding: 10px 0;
}
.text-page h1{
	font-size: 35px;
	line-height: 40px;
}


.catname{ margin-top: 10px; margin-bottom: 10px; padding: 26px 15px 40px 15px; border-radius: 2px; text-align: center; transition: all 400ms; }
.catname:hover { box-shadow: 0 0 5px 5px #f3f3f3;}
.catname img { width: auto; display: inline-block; }
.catname .name { margin-top: 28px; margin-bottom: 2px; 
	display: inline-block; font-size: 24px; color: #2c1910; font-weight: 600;
	font-family: 'Cormorant Garamond', serif; }
.catname .text { 
	font-size: 14px; font-weight: 300; color: #513826; 
	padding: 10px 0;
}

.category-item:nth-child(even){
	background: #F2ECDE;
}
.category-item:nth-child(odd){
	background: #FFF;
}
.category-item{
	padding-bottom: 50px;
}
.catname:hover{
	box-shadow: 0 0 5px 5px #f3f3f3;
}
.product-info h3{
	text-align: left;
	font-size: 24px;
	color: #700000;
}
.dacdiem{
	background: #F5F2EB;
	padding: 20px;
}
.list-dd{
	padding: 15px 0;
	display: flex;
	position: relative;
}
.list-dd span{
	padding: 0 10px
}
.title-dd {
	width: 150px;
	font-family: 'Cormorant Garamond', serif;
	font-size: 24px;
	font-weight: 600;
}
.chia{
	position: absolute;
	right: 0;
}